@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i> <span>Cadastros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Index", "Cidade")">
                        <a href="@Url.Action("Index", "Cidade")"><span>Cidades</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Estado")">
                        <a href="@Url.Action("Index", "Estado")"><span>Estados</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Fornecedor")">
                        <a href="@Url.Action("Index", "Fornecedor")"><span>Fornecedores</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "GrupoProduto")">
                        <a href="@Url.Action("Index", "GrupoProduto")"><span>Grupos de Produtos</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "LocalArmazenamento")">
                        <a href="@Url.Action("Index", "LocalArmazenamento")"><span>Locais de Armazenamentos</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "MarcaProduto")">
                        <a href="@Url.Action("Index", "MarcaProduto")"><span>Marcas</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Pais")">
                        <a href="@Url.Action("Index", "Pais")"><span>Paises</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "UnidadeMedida")">
                        <a href="@Url.Action("Index", "UnidadeMedida")"><span>Unidades de Medidas</span></a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i> <span>Estoque</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file"></i> <span>Relatórios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>